### JupyterNotebooks ###
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# files with sensitive info
config.py
twitter api tests.ipynb

# IPython
profile_default/
ipython_config.py

# Remove previous ipynb_checkpoints
#   git rm -r .ipynb_checkpoints/